Repository spruceid/mobile-sdk-react: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn run eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: yarn run tsc --noEmit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(ci): bump macos runner to use latest xcode
  .github/workflows/ci.yml
  example/ios/Podfile.lock
Due: none

fix: new style module support
  src/NativeWalletSdk.ts
Due: lint, types

fix: complete deferred start present
  src/index.tsx
Due: lint

ci: update jdk to match android
  .github/workflows/ci.yml
Due: none

chore: add correct licenses
  LICENSE
  LICENSE-APACHE
  LICENSE-MIT
  package.json
Due: none

feat: add docs building support
  .gitignore
  README.md
  example/ios/WalletSdkExample/Info.plist
  package.json
  src/NativeWalletSdk.ts
  yarn.lock
Due: lint, types

fix: remove unused package
  package.json
Due: none

fix: remove unused package
  yarn.lock
Due: none

ci: add action to publish docs to github pages
  .github/workflows/docs.yml
Due: none

Add docs generation (#4)
  .github/workflows/docs.yml
  .gitignore
  README.md
  example/ios/WalletSdkExample/Info.plist
  package.json
  src/NativeWalletSdk.ts
  yarn.lock
Due: lint, types

docs: update README links for live page
  README.md
Due: none

docs: add maturity disclaimer in README
  README.md
Due: none

fix: update pod lockfile to fix CI
  example/ios/Podfile.lock
Due: none

feat: initial kotlin sdk support
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/walletsdk/WalletSdkActivity.kt
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle
  example/index.js
  example/src/CredentialsTab.tsx
  example/src/ShareTab.tsx
  src/index.tsx
Due: lint, types

Complete implementation
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
  android/src/oldarch/WalletSdkSpec.kt
  example/android/app/src/main/AndroidManifest.xml
  example/ios/File.swift
  example/src/ShareTab.tsx
  ios/WalletSdk.swift
  src/index.tsx
Due: lint

feat: fix theme colors
  example/android/app/src/main/res/values/styles.xml
  example/src/App.tsx
  example/src/CredentialsTab.tsx
Due: lint

feat: add success callback
  android/build.gradle
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
Due: none

fix: only success after all chunks were sent
  android/build.gradle
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
Due: none

feat: update README with android permissions
  README.md
Due: none

fix: lint
  example/src/ShareTab.tsx
  example/src/Styles.tsx
  src/index.tsx
Due: lint

fix: cocoapods version in podfile.lock
  example/ios/Podfile.lock
Due: none

chore: update README with android permission request and clean manifests
  README.md
  android/src/main/AndroidManifest.xml
  android/src/main/AndroidManifestNew.xml
  example/android/app/src/main/AndroidManifest.xml
Due: none

Add Android support (#5)
  README.md
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/src/main/AndroidManifest.xml
  android/src/main/AndroidManifestNew.xml
  android/src/main/java/com/walletsdk/WalletSdkActivity.kt
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
  android/src/oldarch/WalletSdkSpec.kt
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/values/styles.xml
  example/android/build.gradle
  example/index.js
  example/ios/File.swift
  example/ios/Podfile.lock
  example/src/App.tsx
  example/src/ShareTab.tsx
  example/src/Styles.tsx
  ios/WalletSdk.swift
Due: lint, types

chore: prepare 0.0.1 release
  package.json
Due: none

fix: repo url in package.json
  package.json
Due: none

chore: specify npm package is public
  package.json
Due: none

chore: release 0.0.1
  package.json
Due: none

chore: add NPM badge in README
  README.md
Due: none

fix: iOS key insertion and update Swift SDK
  example/index.js
  example/ios/Podfile.lock
  ios/WalletSdk.swift
  react-native-wallet-sdk.podspec
Due: lint, types

fix: iOS key insertion and update Swift SDK (#6)
  example/index.js
  example/ios/Podfile.lock
  ios/WalletSdk.swift
  react-native-wallet-sdk.podspec
Due: lint, types

chore: use gh pages native URL
  README.md
Due: none

feat: accept both SEC1 and PKCS#8 PEM private keys
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
  android/src/oldarch/WalletSdkSpec.kt
  example/index.js
  ios/WalletSdk.mm
  ios/WalletSdk.swift
  src/NativeWalletSdk.ts
  src/index.tsx
Due: lint, types

fix: local CONTRIBUTING link in README
  .gitignore
  README.md
Due: none

chore: mention other SDKs in README
  README.md
Due: none

fix: use pkcs#8 public key for pem
  example/index.js
Due: lint, types

fix: back to original plan of only accepting PKCS#8 keys
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
  android/src/oldarch/WalletSdkSpec.kt
  example/index.js
  ios/WalletSdk.mm
  ios/WalletSdk.swift
  src/NativeWalletSdk.ts
  src/index.tsx
Due: lint, types

fix: make key import work on both platforms (#7)
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
  android/src/oldarch/WalletSdkSpec.kt
  example/index.js
  ios/WalletSdk.mm
  ios/WalletSdk.swift
  src/NativeWalletSdk.ts
  src/index.tsx
Due: lint, types

feat: improve state handling
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
Due: none

feat: update native SDKs and update callbacks
  android/build.gradle
  android/src/main/java/com/walletsdk/WalletSdkModule.kt
  example/ios/Podfile.lock
  example/src/ShareTab.tsx
  ios/WalletSdk.swift
  package.json
  react-native-wallet-sdk.podspec
  src/index.tsx
  yarn.lock
Due: lint
